version: "3.9"

services:

  db:
    image: postgres:15
    container_name: scalable_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: scalable_backend
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/mydb

  frontend:
    build: ./frontend
    container_name: scalable_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  postgres_data:

